<!--
Generated template for the Home page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Indoor Location
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let beacon of beaconArray  | async">
    <ion-card-header>
      <strong>Room: Nac 7/106</strong>
    </ion-card-header>
    <ion-list no-lines *ngFor="let beacon of beaconArray  | async">
      <ion-item>
        <ion-icon name="md-compass" item-left></ion-icon>
        Proximity
        <ion-badge item-right>{{ beacon.beacon.proximity }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="md-cube" item-left></ion-icon>
        Major
        <ion-badge item-right>{{ beacon.major }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="md-cube" item-left></ion-icon>
        Minor
        <ion-badge item-right>{{ beacon.minor }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="md-wifi" item-left></ion-icon>
        Rssi
        <ion-badge item-right>{{ beacon.rssi }} dBm</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="md-bug" item-left></ion-icon>
        Accuracy
        <ion-badge item-right>{{ beacon.beacon.accuracy }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon name="md-power" item-left></ion-icon>
        Tx Power
        <ion-badge item-right>{{ beacon.beacon.tx }} dBm</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<!--
<ion-content padding>
<ion-card>
<img src="http://i.imgur.com/pxhFO00.png">
<ion-fab right top>
<button ion-fab>
<ion-icon name="pin"></ion-icon>
</button>
</ion-fab>

<ion-item>
<ion-icon name="locate" item-left large></ion-icon>
<h2>Your location</h2>
<p>NAC,7th Fl. Rm 204.</p>
</ion-item>

<ion-item>
<ion-icon name="person" item-left large ></ion-icon>
<h2>Rescuer location</h2>
<p>14 S. Hop Avenue, Madison, WI 53703</p>
</ion-item>

<ion-item>
<span item-left>18 min</span>
<span item-left>(2.6 mi)</span>
</ion-item>

</ion-card>
<ion-card>
<ion-card-header>
Note
</ion-card-header>
<ion-card-content>
The distance from rescuer is estimated with a range of +/- .03 miles.
</ion-card-content>
</ion-card>
</ion-content> -->
